<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<h4 class="font-italic">BRAND:</h4>
<p th:text="${car.brand}"></p>
<h4 class="font-italic">MODEL:</h4>
<p th:text="${car.model}"></p>
<h4 class="font-italic">BODY TYPE:</h4>
<p th:text="${car.bodyType}"></p>
<h4 class="font-italic">COLOUR:</h4>
<p th:text="${car.colour}"></p>
<h4 class="font-italic">PRODUCTION DATE:</h4>
<p th:text="${car.prodDate}"></p>
<h4 class="font-italic">MILEAGE:</h4>
<p th:text="${car.mileage}"></p>
<h4 class="font-italic">AMOUNT:</h4>
<p th:text="${car.amount}"></p>
<h4 class="font-italic">STATUS:</h4>
<p th:text="${car.status}"></p>

</body>
</html>
